{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Base</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css'%}">
    <link href="https://fonts.googleapis.com/css?family=Athiti|Noto+Sans+JP&display=swap" rel="stylesheet">
    

</head>
<body>
<header class="header">
  <a class="logo">
  KMITL RESTAURANT
  </a>  
  <ul class="menu">
    {% if user.is_anonymous %}
      <li><a href="{% url 'user_login' %}">LOGIN</a></li>
    {% endif %}
    {% if user.is_authenticated %}
      <li><a href="{% url 'auth_logout' %}">LOGOUT</a></li>
    {% endif %}
  </ul>
</header>
    <br>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>